<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Document</title>
    <style>
        div {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    </style>
    <script>
        $(document).ready(function() {
            var now = new Date();
            var year = now.getFullYear();
            var mon = (now.getMonth() + 1) > 9 ? '' + (now.getMonth() + 1) : '0' + (now.getMonth() + 1);
            var day = (now.getDate()) > 9 ? '' + (now.getDate()) : '0' + (now.getDate());
            //년도 selectbox만들기               
            for (var i = 1900; i <= year; i++) {
                $('#year').append('<option value="' + i + '">' + i + '</option>')
            }

            // 월별 selectbox 만들기            
            for (var i = 1; i <= 12; i++) {
                var mm = i > 9 ? i : "0" + i;
                $('#month').append('<option value="' + mm + '">' + mm + '</option>')
            }

            // 일별 selectbox 만들기
            for (var i = 1; i <= 31; i++) {
                var dd = i > 9 ? i : "0" + i;
                $('#day').append('<option value="' + dd + '">' + dd + '</option>')
            }
            $("#year  > option[value=" + year + "]").attr("selected", "true");
            $("#month  > option[value=" + mon + "]").attr("selected", "true");
            $("#day  > option[value=" + day + "]").attr("selected", "true");

        })
    </script>
</head>

<body>
    <form>
        폼 전송 - 실습
        <div> 이름 <input type="text" name="name" id="" required></div>
        <div>성별
            <input type="radio" name="gender" value="남" required> 남자
            <input type="radio" name="gender" value="여" required> 여자</div>
        <div>생년월일
            <select name="birthYear" id="year" required>
                <option></option>
            </select>년
            <select name="birthMonth" id="month" required>
                <option></option>
            </select>월
            <select name="birthDay" id="day" required>
                <option></option>
            </select>일
        </div>

        <div> 관심사
            <input name="interest" type="checkbox" value="여행">여행
            <input name="interest" type="checkbox" value="패션"> 패션
            <input name="interest" type="checkbox" value="음식"> 음식
        </div>

        <button type="button" onclick="dynamicForm()">회원가입</button>

    </form>
    <script>
        function dynamicForm() {
            var form = document.querySelector("form");
            var interest = "";
            $("input[name=interest]:checked").each((index, object) => {
                interest += $(object).val();
                if (index != $("input[name=interest]:checked").length - 1) interest += ",";
            });
            var data11 = {
                name: form.name.value,
                gender: form.gender.value,
                birthYear: form.birthYear.value,
                birthMonth: form.birthMonth.value,
                birthDay: form.birthDay.value,
                interest: interest,
            }

            axios({
                url: '/get/axios',
                type: 'get',
                params: data11,
            }).then((response) => {
                console.log(response);
            });
        }
    </script>
</body>

</html>